<ion-popover-view class="fit" >
  <ion-content >
    <ion-list >
      <ion-item item="item">
        <div ng-click="takePicture()">Take picture</div>
      </ion-item>
      <ion-item item="item">
        <div ng-click="getPicture()">Get picture</div>
      </ion-item>
      <ion-item item="item">
        <div ng-click="getBackgrundPicture()">Update cover</div>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-popover-view>


<!-- <ion-popover-view>
  <ion-content>
    <div class="list">
      <div class="item">
        <div class="button button-balanced" ng-click="takePicture()">take picture</div>
      </div>
      <div class="item">
        <div class="button button-balanced" ng-click="getPicture()">get picture</div>
      <div>
    <div>
  </ion-content>
</ion-popover-view> -->
