<ion-view title="Profile">
<ion-content>

<div class="row">

<div class="col col-25"></div>

<div class="col">
<!--<p>content1 content1 content1 content1  content1  content1</p>-->
<img src='img/user.png' height="150" width="150">
</div>

</div>

<div class="row">
<div class="col">





<!--<button class="button button-block button-positive" ng-click="addFriend()">Agregar</button>-->

</div>

</div>

</ion-content>
</ion-view>


<ion-view title="Perfil">

  <ion-content>

    <div id="profile-bg" style="background: url({{backgroundPicture}}) ">
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
      <p>&nbsp;</p><!--space blank-->
    </div>

    <div id="content">
      <div id="profile-info">
        <img id="profile-image" src={{photo}}>
        <h3 id="profile-name">{{name}}</h3>
        <span id="profile-description">encuentranos en twitter<a href="polychat@twitter.com">@polychat</a></span>
        <ionic-ratings ratingsobj='ratingsObject2'></ionic-ratings>
      </div>
    </div>
    <div id="center">
      <p>&nbsp;</p><!--space blank-->

      <button class="button button-positive" ng-click="sendMessage()">Enviar Mensaje</button>
      <button class="button button-positive" ng-show="isMyFriend()" ng-click="addFriend()">Agregar</button>
      <button class="button button-positive" ng-show="requestSent()" ng-click="respondRequest()">Aceptar Solicitud</button>

    </div>

    <div class="list">


    <label class="item item-input">
    <span class="input-label">Edad</span>
    <input type="number" ng-model="age">
    </label>

    <label class="item item-input">
    <span class="input-label">Género</span>
    <input type="text" ng-model="genre">
    </label>

    <label class="item item-input">
    <span class="input-label">País</span>
    <input type="text" ng-model="country">
    </label>

    <div class="item item-divider">Lenguajes que domina</div>
    <!--<a class="item">Español</a>-->
    <a class="item" ng-repeat="lan in nat_lan">{{ lan.country }}</a>
    <div class="item item-divider">Lenguajes de interés</div>
    <!--<a class="item">Inglés</a>-->
    <a class="item" ng-repeat="lan in obj_lan">{{ lan.country }}</a>

    </div>


  </ion-content>
</ion-view>
