<ion-view cache-view="false" title="Friend Requests" >
  <ion-content>
    <ion-list>

      <!--find -->
      <ion-item>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="inputfind.filterUser" placeholder="Search">
          </label>
      </ion-item>
      <!--end find -->

      <!--    item divider Friend Request-->
      <div class="item item-divider">
                  Friend Request.
      </div>
      <ion-item class=" item item-avatar item-button-right" ng-repeat="stranger in strangersList | filter:inputfind.filterUser">
        <img src={{stranger.contact_photo}}>
        <h2>{{stranger.contact_name}}</h2>
        <!--<p>{{stranger.country}}, {{stranger.city}} </p>-->
        <div>
          <button class="button button-positive " ng-click="confirm(stranger.contact_id,stranger.contact_name,stranger.contact_photo)">Confirmar</button>
          <button class="button button-positive " ng-click="delete()">Rechazar</button>
        </div>
      </ion-item>
      <!-- end item divider Friend Request-->


      <!--  People you may know.
      <div class="item item-divider">
                  People you may know.
      </div>

      <ion-item class="item item-avatar item-button-right" ng-repeat="friendRequest in friendRequestslist | filter:inputfind.filterUser">
          <img src={{friendRequest.img}}>
          <h2>{{friendRequest.name}}   </h2>
          <p>{{friendRequest.country}}, {{friendRequest.city}} </p>
          <button class="button button-positive icon ion-android-person-add" ng-click="addFriend()"></button>

      </ion-item>-->

      <!--  end People you may know-->
    </ion-list>
  </ion-conten>
</ion-view>