<ion-view title="Tabs Controller"  hide-back-button="true" class="bar-positive">
    <ion-tabs class="tabs-positive tabs-icon-only ">

        <!--ion-tab title="notices"
                 badge='notification.notice' badge-style='badge-assertive'
                 ng-click="go('tabsController.notice','notice')"
                 icon="ion-android-notifications ">
            <ion-nav-view name="notice-tab"></ion-nav-view>
        </ion-tab-->

        <ion-tab title="chatRoom"
                 badge='notification.chatRoom' badge-style='badge-assertive'
                 ng-click="go('tabsController.chatRoom','chatRoom')"
                 icon="ion-earth">
            <ion-nav-view name="chatRoom-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="friendRequests"
                 badge='notification.friendRequests' badge-style='badge-assertive'
                 ng-click="go('tabsController.friendRequests','friendRequests')"
                 icon="ion-android-person-add">
            <ion-nav-view name="friendRequests-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="contacts"
                 badge='notification.contacts' badge-style='badge-assertive'
                 ng-click="go('tabsController.contacts','contacts')"
                 icon="ion-android-contacts">
            <ion-nav-view name="contacts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="messages"
                 badge='notification.messages' badge-style='badge-assertive'
                 ng-click="go('tabsController.messages','messages')"
                 icon="ion-android-chat">
            <ion-nav-view name="messages-tab"></ion-nav-view>
        </ion-tab>


        <ion-tab title="profile"
                 icon="ion-ios-contact"
                 href="#/tabsController/profile" >
            <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
